In [1]:
import pandas as pd
from new_dict import name_reformat, column_reformat, date_reformat, fert_reformat, h_e_reformat, business_counts_reformat, business_register_reformat, disposable_income_reformat, jobs_density_reformat, population_reformat

In [2]:
aps = pd.read_csv('ready_data/aps-districts-joined.csv')
aps = aps[aps.MEASURES_NAME == 'Variable']
del aps['MEASURES_NAME']
del aps['OBS_STATUS_NAME']
aps = aps.replace({"VARIABLE_NAME": name_reformat, "DATE_NAME": date_reformat})
aps.rename(columns=column_reformat, inplace=True)
aps.reset_index(drop=True, inplace=True)
aps.head(10)

   date district       code              indicator  value
0  2013  Babergh  E07000200    are_employees_16_64   56.5
1  2013  Babergh  E07000200    self_employed_16_64   11.0
2  2013  Babergh  E07000200            inact_16_64   26.3
3  2013  Babergh  E07000200    econ_activity_16_64   73.7
4  2013  Babergh  E07000200    econ_activity_16_19   31.1
5  2013  Babergh  E07000200    econ_activity_20_24  100.0
6  2013  Babergh  E07000200    econ_activity_25_34   69.8
7  2013  Babergh  E07000200    econ_activity_35_49   88.5
8  2013  Babergh  E07000200  econ_activity_over_50   43.4
9  2013  Babergh  E07000200    econ_activity_50_64   70.9

In [3]:
fertility = pd.read_csv('ready_data/fertility.csv')
del fertility['OBS_STATUS_NAME']
del fertility['MEASURES_NAME']
fertility = fertility.replace({"MEASURE_NAME": fert_reformat})
fertility.rename(columns=column_reformat, inplace=True)
fertility.head(10)

   date    district       code      indicator  value
0  2013  Darlington  E06000005    live_births    0.0
1  2013  Darlington  E06000005            gfr    0.0
2  2013  Darlington  E06000005            tfr    0.0
3  2013  Darlington  E06000005  fert_under_18    0.0
4  2013  Darlington  E06000005  fert_under_20    0.0
5  2013  Darlington  E06000005     fert_20_24    0.0
6  2013  Darlington  E06000005     fert_25_29    0.0
7  2013  Darlington  E06000005     fert_30_34    0.0
8  2013  Darlington  E06000005     fert_35_39    0.0
9  2013  Darlington  E06000005     fert_40_44    0.0

In [4]:
h_e = pd.read_csv('ready_data/h-and-e-districts-joined.csv')
h_e = h_e[h_e.MEASURES_NAME == 'Value']
del h_e['MEASURES_NAME']
del h_e['OBS_STATUS_NAME']
del h_e['SEX_NAME']
h_e['indicator'] = h_e['PAY_NAME'] + ' ' + h_e['ITEM_NAME']
del h_e['PAY_NAME']
del h_e['ITEM_NAME']
h_e = h_e.replace({"indicator": h_e_reformat})
h_e.rename(columns=column_reformat, inplace=True)
h_e.head(10)

,date,district,code,value,indicator
0,2013,Darlington,E06000005,59000.0,weekly_pay_gross_number_of_jobs
2,2013,Darlington,E06000005,329.9,weekly_pay_gross_median
4,2013,Darlington,E06000005,-9.9,weekly_pay_gross_annual_percentage_change_median
6,2013,Darlington,E06000005,125.1,weekly_pay_gross_10_percentile
8,2013,Darlington,E06000005,194.8,weekly_pay_gross_20_percentile
10,2013,Darlington,E06000005,220.4,weekly_pay_gross_25_percentile
12,2013,Darlington,E06000005,238.7,weekly_pay_gross_30_percentile
14,2013,Darlington,E06000005,287.9,weekly_pay_gross_40_percentile
16,2013,Darlington,E06000005,391.0,weekly_pay_gross_60_percentile
18,2013,Darlington,E06000005,464.6,weekly_pay_gross_70_percentile

In [5]:
business_counts = pd.read_csv('ready_data/business_counts.csv')
business_counts = business_counts[business_counts.LEGAL_STATUS_NAME == 'Total']
del business_counts['LEGAL_STATUS_NAME']
del business_counts['MEASURES_NAME']
del business_counts['OBS_STATUS_NAME']
business_counts['indicator'] = business_counts['INDUSTRY_NAME'] + ' ' + business_counts['EMPLOYMENT_SIZEBAND_NAME']
del business_counts['INDUSTRY_NAME']
del business_counts['EMPLOYMENT_SIZEBAND_NAME']
business_counts = business_counts.replace({"indicator": business_counts_reformat})
business_counts.rename(columns=column_reformat, inplace=True)
business_counts.head(10)

,date,district,code,value,indicator
0,2013,Darlington,E06000005,155,a_agriculture_forestry_and_fishing_total
3,2013,Darlington,E06000005,145,a_agriculture_forestry_and_fishing_micro_0_to_9
6,2013,Darlington,E06000005,140,a_agriculture_forestry_and_fishing_0_to_4
9,2013,Darlington,E06000005,5,a_agriculture_forestry_and_fishing_5_to_9
12,2013,Darlington,E06000005,10,a_agriculture_forestry_and_fishing_small_10_to_49
15,2013,Darlington,E06000005,10,a_agriculture_forestry_and_fishing_10_to_19
18,2013,Darlington,E06000005,0,a_agriculture_forestry_and_fishing_20_to_49
21,2013,Darlington,E06000005,0,a_agriculture_forestry_and_fishing_mediumsized...
24,2013,Darlington,E06000005,0,a_agriculture_forestry_and_fishing_50_to_99
27,2013,Darlington,E06000005,0,a_agriculture_forestry_and_fishing_100_to_249

In [6]:
business_register = pd.read_csv('ready_data/business_register_and_employment_survey.csv')
business_register = business_register[business_register['MEASURE_NAME'] == 'Count']
business_register['indicator'] = business_register['INDUSTRY_NAME'] + ' ' + business_register['EMPLOYMENT_STATUS_NAME']
del business_register['EMPLOYMENT_STATUS_NAME']
del business_register['MEASURES_NAME']
del business_register['MEASURE_NAME']
del business_register['INDUSTRY_NAME']
del business_register['OBS_STATUS_NAME']
business_register = business_register.replace({"indicator": business_register_reformat})
business_register.rename(columns=column_reformat, inplace=True)
business_register.head(10)

,date,district,code,value,indicator
0,2015,Darlington,E06000005,150.0,01_crop_and_animal_production_hunting_and_rela...
2,2015,Darlington,E06000005,125.0,01_crop_and_animal_production_hunting_and_rela...
4,2015,Darlington,E06000005,40.0,01_crop_and_animal_production_hunting_and_rela...
6,2015,Darlington,E06000005,0.0,02_forestry_and_logging_employees
8,2015,Darlington,E06000005,0.0,02_forestry_and_logging_fulltime_employees
10,2015,Darlington,E06000005,0.0,02_forestry_and_logging_parttime_employees
12,2015,Darlington,E06000005,0.0,03_fishing_and_aquaculture_employees
14,2015,Darlington,E06000005,0.0,03_fishing_and_aquaculture_fulltime_employees
16,2015,Darlington,E06000005,0.0,03_fishing_and_aquaculture_parttime_employees
18,2015,Darlington,E06000005,0.0,05_mining_of_coal_and_lignite_employees

In [7]:
disposable_income = pd.read_csv('ready_data/disposable_income.csv')
del disposable_income['OBS_STATUS_NAME']
del disposable_income['MEASURES_NAME']
del disposable_income['COMPONENT_OF_GDHI_NAME']
disposable_income.rename(columns=column_reformat, inplace=True)
disposable_income = disposable_income.replace({"indicator": disposable_income_reformat})
disposable_income.head(10)

   date       district       code               indicator    value
0  2013     Darlington  E06000005        gdhi_abs_million   1566.0
1  2013     Darlington  E06000005         gdhi_per_capita  14813.0
2  2013     Darlington  E06000005   gdhi_per_capita_index     82.3
3  2013     Darlington  E06000005         gdhi_abs_growth      3.5
4  2013     Darlington  E06000005  gdhi_per_capita_growth      3.2
5  2013  County Durham  E06000047        gdhi_abs_million   7496.0
6  2013  County Durham  E06000047         gdhi_per_capita  14529.0
7  2013  County Durham  E06000047   gdhi_per_capita_index     80.7
8  2013  County Durham  E06000047         gdhi_abs_growth      2.7
9  2013  County Durham  E06000047  gdhi_per_capita_growth      2.4

In [8]:
jobs_density = pd.read_csv('ready_data/jobs_density.csv')
del jobs_density['OBS_STATUS_NAME']
del jobs_density['MEASURES_NAME']
jobs_density.rename(columns=column_reformat, inplace=True)
jobs_density = jobs_density.replace({"indicator": jobs_density_reformat})
jobs_density.head(10)

   date        district       code        indicator      value
0  2013      Darlington  E06000005       total_jobs   54000.00
1  2013      Darlington  E06000005  jobs_per_capita       0.82
2  2013   County Durham  E06000047       total_jobs  189000.00
3  2013   County Durham  E06000047  jobs_per_capita       0.57
4  2013      Hartlepool  E06000001       total_jobs   32000.00
5  2013      Hartlepool  E06000001  jobs_per_capita       0.55
6  2013   Middlesbrough  E06000002       total_jobs   65000.00
7  2013   Middlesbrough  E06000002  jobs_per_capita       0.73
8  2013  Northumberland  E06000057       total_jobs  121000.00
9  2013  Northumberland  E06000057  jobs_per_capita       0.62

In [9]:
population = pd.read_csv('ready_data/population.csv')
population = population[population['GENDER_NAME'] == 'Total']
del population['OBS_STATUS_NAME']
del population['MEASURES_NAME']
del population['GENDER_NAME']
population.rename(columns=column_reformat, inplace=True)
population = population.replace({"indicator": population_reformat})
population.head(10)

    date       district       code      indicator   value
0   2013     Darlington  E06000005       all_ages  105726
1   2013     Darlington  E06000005   aged_0_to_15   20185
2   2013     Darlington  E06000005   aged_16_plus   85541
3   2013     Darlington  E06000005  aged_16_to_64   65883
4   2013     Darlington  E06000005  aged_16_to_24   10733
5   2013     Darlington  E06000005  aged_25_to_49   34761
6   2013     Darlington  E06000005  aged_50_to_64   20389
7   2013     Darlington  E06000005   aged_65_plus   19658
24  2013  County Durham  E06000047       all_ages  515923
25  2013  County Durham  E06000047   aged_0_to_15   88347

In [10]:
def swap_columns(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    df = df[col_list]
    return df

h_e = swap_columns(h_e, 'indicator', 'value')
business_counts = swap_columns(business_counts, 'indicator', 'value')
business_register = swap_columns(business_register, 'indicator', 'value')

In [11]:
#  Confirm that there are no duplicate variable names
datasets = [aps, h_e, business_counts, business_register, fertility, population, jobs_density, disposable_income]
variable_names = []
for dataset in datasets:
    variable_names += list(dataset.indicator.unique())
len(variable_names) == len(set(variable_names)) 
print(variable_names)

['are_employees_16_64', 'self_employed_16_64', 'inact_16_64', 'econ_activity_16_64', 'econ_activity_16_19', 'econ_activity_20_24', 'econ_activity_25_34', 'econ_activity_35_49', 'econ_activity_over_50', 'econ_activity_50_64', 'econ_activity_over_65', 'inact_student', 'inact_housewife', 'inact_sick_temp', 'inact_sick_long', 'inact_discouraged', 'inact_retired', 'inact_other', 'inact_want_job', 'employment_rate_16_64', 'white_16_64', 'white_16_19', 'white_20_24', 'white_25_49', 'white_over_50', 'ethnic_16_64', 'ethnic_16_19', 'ethnic_20_24', 'ethnic_25_49', 'ethnic_over_50', 'full_time_16_64', 'full_time_16_19', 'full_time_20_24', 'full_time_25_49', 'full_time_over_50', 'part_time_16_64', 'part_time_16_19', 'part_time_20_24', 'part_time_25_49', 'part_time_over_50', 'work_under_10_hours', 'work_10_34_hours', 'work_35_44_hours', 'work_over_45_hours', 'sic_a', 'sic_b_d_e', 'sic_c', 'sic_f', 'sic_g_i', 'sic_h_j', 'sic_k_n', 'sic_o_q', 'sic_r_u', 'sic_total_services', 'employed_public_sector', 'degree_or_above_16_64', 'degree_or_above_16_19', 'degree_or_above_20_24', 'degree_or_above_25_29', 'degree_or_above_30_39', 'degree_or_above_40_49', 'degree_or_above_50_64', 'he_below_degree_16_64', 'he_below_degree_16_19', 'he_below_degree_20_24', 'he_below_degree_25_29', 'he_below_degree_30_39', 'he_below_degree_40_49', 'he_below_degree_50_64', 'alevel_16_64', 'alevel_16_19', 'alevel_20_24', 'alevel_25_29', 'alevel_30_39', 'alevel_40_49', 'alevel_50_64', 'gcse_16_64', 'gcse_16_19', 'gcse_20_24', 'gcse_25_29', 'gcse_30_39', 'gcse_40_49', 'gcse_50_64', 'other_qual_gcse_16_64', 'other_qual_gcse_16_19', 'other_qual_gcse_20_24', 'other_qual_gcse_25_29', 'other_qual_gcse_30_39', 'other_qual_gcse_40_49', 'other_qual_gcse_50_64', 'no_qual_gcse_16_64', 'no_qual_gcse_16_19', 'no_qual_gcse_20_24', 'no_qual_gcse_25_29', 'no_qual_gcse_30_39', 'no_qual_gcse_40_49', 'no_qual_gcse_50_64', 'at_least_nvq_4_16_64', 'at_least_nvq_4_16_19', 'at_least_nvq_4_20_24', 'at_least_nvq_4_25_29', 'at_least_nvq_4_30_39', 'at_least_nvq_4_40_49', 'at_least_nvq_4_50_64', 'nvq3_16_64', 'nvq3_16_19', 'nvq3_20_24', 'nvq3_25_29', 'nvq3_30_39', 'nvq3_40_49', 'nvq3_50_64', 'apprentice_16_64', 'apprentice_16_19', 'apprentice_20_24', 'apprentice_25_29', 'apprentice_30_39', 'apprentice_40_49', 'apprentice_50_64', 'nvq2_16_64', 'nvq2_16_19', 'nvq2_20_24', 'nvq2_25_29', 'nvq2_30_39', 'nvq2_40_49', 'nvq2_50_64', 'nvq1_16_64', 'nvq1_16_19', 'nvq1_20_24', 'nvq1_25_29', 'nvq1_30_39', 'nvq1_40_49', 'nvq1_50_64', 'other_qual_nvq_16_64', 'other_qual_nvq_16_19', 'other_qual_nvq_20_24', 'other_qual_nvq_25_29', 'other_qual_nvq_30_39', 'other_qual_nvq_40_49', 'other_qual_nvq_50_64', 'no_qual_nvq_16_64', 'no_qual_nvq_16_19', 'no_qual_nvq_20_24', 'no_qual_nvq_25_29', 'no_qual_nvq_30_39', 'no_qual_nvq_40_49', 'no_qual_nvq_50_64', 'at_least_nvq_3_16_64', 'at_least_nvq2_16_64', 'at_least_nvq1_16_64', 'over_16_male', 'over_16_female', 'over_16_16_19', 'over_16_20_24', 'over_16_25_34', 'over_16_35_49', 'over_16_50_64', 'over_16_over_50', 'Unemployment rate - aged 16-64 ', 'unemployment_rate_16_19', 'unemployment_rate_20_24', 'unemployment_rate_25_34', 'unemployment_rate_35_49', 'unemployment_rate_over_50', 'unemployment_rate_50_64', 'unemployment_rate_over_65', 'weekly_pay_gross_number_of_jobs', 'weekly_pay_gross_median', 'weekly_pay_gross_annual_percentage_change_median', 'weekly_pay_gross_10_percentile', 'weekly_pay_gross_20_percentile', 'weekly_pay_gross_25_percentile', 'weekly_pay_gross_30_percentile', 'weekly_pay_gross_40_percentile', 'weekly_pay_gross_60_percentile', 'weekly_pay_gross_70_percentile', 'weekly_pay_gross_75_percentile', 'weekly_pay_gross_80_percentile', 'weekly_pay_gross_90_percentile', 'hourly_pay_gross_number_of_jobs', 'hourly_pay_gross_median', 'hourly_pay_gross_annual_percentage_change_median', 'hourly_pay_gross_10_percentile', 'hourly_pay_gross_20_percentile', 'hourly_pay_gross_25_percentile', 'hourly_pay_gross_30_percentile', 'hourly_pay_gross_40_percentile', 'hourly_pay_gross_60_percentile', 'hourly_pay_gross_70_percentile', 'hourly_pay_gross_75_percentile', 'hourly_pay_gross_80_percentile', 'hourly_pay_gross_90_percentile', 'annual_pay_gross_number_of_jobs', 'annual_pay_gross_median', 'annual_pay_gross_annual_percentage_change_median', 'annual_pay_gross_10_percentile', 'annual_pay_gross_20_percentile', 'annual_pay_gross_25_percentile', 'annual_pay_gross_30_percentile', 'annual_pay_gross_40_percentile', 'annual_pay_gross_60_percentile', 'annual_pay_gross_70_percentile', 'annual_pay_gross_75_percentile', 'annual_pay_gross_80_percentile', 'annual_pay_gross_90_percentile', 'annual_pay_incentive_number_of_jobs', 'annual_pay_incentive_median', 'annual_pay_incentive_annual_percentage_change_median', 'annual_pay_incentive_10_percentile', 'annual_pay_incentive_20_percentile', 'annual_pay_incentive_25_percentile', 'annual_pay_incentive_30_percentile', 'annual_pay_incentive_40_percentile', 'annual_pay_incentive_60_percentile', 'annual_pay_incentive_70_percentile', 'annual_pay_incentive_75_percentile', 'annual_pay_incentive_80_percentile', 'annual_pay_incentive_90_percentile', 'hours_worked_total_number_of_jobs', 'hours_worked_total_median', 'hours_worked_total_annual_percentage_change_median', 'hours_worked_total_10_percentile', 'hours_worked_total_20_percentile', 'hours_worked_total_25_percentile', 'hours_worked_total_30_percentile', 'hours_worked_total_40_percentile', 'hours_worked_total_60_percentile', 'hours_worked_total_70_percentile', 'hours_worked_total_75_percentile', 'hours_worked_total_80_percentile', 'hours_worked_total_90_percentile', 'a_agriculture_forestry_and_fishing_total', 'a_agriculture_forestry_and_fishing_micro_0_to_9', 'a_agriculture_forestry_and_fishing_0_to_4', 'a_agriculture_forestry_and_fishing_5_to_9', 'a_agriculture_forestry_and_fishing_small_10_to_49', 'a_agriculture_forestry_and_fishing_10_to_19', 'a_agriculture_forestry_and_fishing_20_to_49', 'a_agriculture_forestry_and_fishing_mediumsized_50_to_249', 'a_agriculture_forestry_and_fishing_50_to_99', 'a_agriculture_forestry_and_fishing_100_to_249', 'a_agriculture_forestry_and_fishing_large_250plus', 'a_agriculture_forestry_and_fishing_250_to_499', 'a_agriculture_forestry_and_fishing_500_to_999', 'a_agriculture_forestry_and_fishing_1000plus', 'b_mining_and_quarrying_total', 'b_mining_and_quarrying_micro_0_to_9', 'b_mining_and_quarrying_0_to_4', 'b_mining_and_quarrying_5_to_9', 'b_mining_and_quarrying_small_10_to_49', 'b_mining_and_quarrying_10_to_19', 'b_mining_and_quarrying_20_to_49', 'b_mining_and_quarrying_mediumsized_50_to_249', 'b_mining_and_quarrying_50_to_99', 'b_mining_and_quarrying_100_to_249', 'b_mining_and_quarrying_large_250plus', 'b_mining_and_quarrying_250_to_499', 'b_mining_and_quarrying_500_to_999', 'b_mining_and_quarrying_1000plus', 'c_manufacturing_total', 'c_manufacturing_micro_0_to_9', 'c_manufacturing_0_to_4', 'c_manufacturing_5_to_9', 'c_manufacturing_small_10_to_49', 'c_manufacturing_10_to_19', 'c_manufacturing_20_to_49', 'c_manufacturing_mediumsized_50_to_249', 'c_manufacturing_50_to_99', 'c_manufacturing_100_to_249', 'c_manufacturing_large_250plus', 'c_manufacturing_250_to_499', 'c_manufacturing_500_to_999', 'c_manufacturing_1000plus', 'd_electricity_gas_steam_and_air_conditioning_supply_total', 'd_electricity_gas_steam_and_air_conditioning_supply_micro_0_to_9', 'd_electricity_gas_steam_and_air_conditioning_supply_0_to_4', 'd_electricity_gas_steam_and_air_conditioning_supply_5_to_9', 'd_electricity_gas_steam_and_air_conditioning_supply_small_10_to_49', 'd_electricity_gas_steam_and_air_conditioning_supply_10_to_19', 'd_electricity_gas_steam_and_air_conditioning_supply_20_to_49', 'd_electricity_gas_steam_and_air_conditioning_supply_mediumsized_50_to_249', 'd_electricity_gas_steam_and_air_conditioning_supply_50_to_99', 'd_electricity_gas_steam_and_air_conditioning_supply_100_to_249', 'd_electricity_gas_steam_and_air_conditioning_supply_large_250plus', 'd_electricity_gas_steam_and_air_conditioning_supply_250_to_499', 'd_electricity_gas_steam_and_air_conditioning_supply_500_to_999', 'd_electricity_gas_steam_and_air_conditioning_supply_1000plus', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_total', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_micro_0_to_9', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_0_to_4', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_5_to_9', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_small_10_to_49', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_10_to_19', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_20_to_49', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_mediumsized_50_to_249', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_50_to_99', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_100_to_249', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_large_250plus', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_250_to_499', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_500_to_999', 'e_water_supply;_sewerage_waste_management_and_remediation_activities_1000plus', 'f_construction_total', 'f_construction_micro_0_to_9', 'f_construction_0_to_4', 'f_construction_5_to_9', 'f_construction_small_10_to_49', 'f_construction_10_to_19', 'f_construction_20_to_49', 'f_construction_mediumsized_50_to_249', 'f_construction_50_to_99', 'f_construction_100_to_249', 'f_construction_large_250plus', 'f_construction_250_to_499', 'f_construction_500_to_999', 'f_construction_1000plus', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_total', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_micro_0_to_9', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_0_to_4', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_5_to_9', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_small_10_to_49', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_10_to_19', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_20_to_49', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_mediumsized_50_to_249', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_50_to_99', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_100_to_249', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_large_250plus', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_250_to_499', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_500_to_999', 'g_wholesale_and_retail_trade;_repair_of_motor_vehicles_and_motorcycles_1000plus', 'h_transportation_and_storage_total', 'h_transportation_and_storage_micro_0_to_9', 'h_transportation_and_storage_0_to_4', 'h_transportation_and_storage_5_to_9', 'h_transportation_and_storage_small_10_to_49', 'h_transportation_and_storage_10_to_19', 'h_transportation_and_storage_20_to_49', 'h_transportation_and_storage_mediumsized_50_to_249', 'h_transportation_and_storage_50_to_99', 'h_transportation_and_storage_100_to_249', 'h_transportation_and_storage_large_250plus', 'h_transportation_and_storage_250_to_499', 'h_transportation_and_storage_500_to_999', 'h_transportation_and_storage_1000plus', 'i_accommodation_and_food_service_activities_total', 'i_accommodation_and_food_service_activities_micro_0_to_9', 'i_accommodation_and_food_service_activities_0_to_4', 'i_accommodation_and_food_service_activities_5_to_9', 'i_accommodation_and_food_service_activities_small_10_to_49', 'i_accommodation_and_food_service_activities_10_to_19', 'i_accommodation_and_food_service_activities_20_to_49', 'i_accommodation_and_food_service_activities_mediumsized_50_to_249', 'i_accommodation_and_food_service_activities_50_to_99', 'i_accommodation_and_food_service_activities_100_to_249', 'i_accommodation_and_food_service_activities_large_250plus', 'i_accommodation_and_food_service_activities_250_to_499', 'i_accommodation_and_food_service_activities_500_to_999', 'i_accommodation_and_food_service_activities_1000plus', 'j_information_and_communication_total', 'j_information_and_communication_micro_0_to_9', 'j_information_and_communication_0_to_4', 'j_information_and_communication_5_to_9', 'j_information_and_communication_small_10_to_49', 'j_information_and_communication_10_to_19', 'j_information_and_communication_20_to_49', 'j_information_and_communication_mediumsized_50_to_249', 'j_information_and_communication_50_to_99', 'j_information_and_communication_100_to_249', 'j_information_and_communication_large_250plus', 'j_information_and_communication_250_to_499', 'j_information_and_communication_500_to_999', 'j_information_and_communication_1000plus', 'k_financial_and_insurance_activities_total', 'k_financial_and_insurance_activities_micro_0_to_9', 'k_financial_and_insurance_activities_0_to_4', 'k_financial_and_insurance_activities_5_to_9', 'k_financial_and_insurance_activities_small_10_to_49', 'k_financial_and_insurance_activities_10_to_19', 'k_financial_and_insurance_activities_20_to_49', 'k_financial_and_insurance_activities_mediumsized_50_to_249', 'k_financial_and_insurance_activities_50_to_99', 'k_financial_and_insurance_activities_100_to_249', 'k_financial_and_insurance_activities_large_250plus', 'k_financial_and_insurance_activities_250_to_499', 'k_financial_and_insurance_activities_500_to_999', 'k_financial_and_insurance_activities_1000plus', 'l_real_estate_activities_total', 'l_real_estate_activities_micro_0_to_9', 'l_real_estate_activities_0_to_4', 'l_real_estate_activities_5_to_9', 'l_real_estate_activities_small_10_to_49', 'l_real_estate_activities_10_to_19', 'l_real_estate_activities_20_to_49', 'l_real_estate_activities_mediumsized_50_to_249', 'l_real_estate_activities_50_to_99', 'l_real_estate_activities_100_to_249', 'l_real_estate_activities_large_250plus', 'l_real_estate_activities_250_to_499', 'l_real_estate_activities_500_to_999', 'l_real_estate_activities_1000plus', 'm_professional_scientific_and_technical_activities_total', 'm_professional_scientific_and_technical_activities_micro_0_to_9', 'm_professional_scientific_and_technical_activities_0_to_4', 'm_professional_scientific_and_technical_activities_5_to_9', 'm_professional_scientific_and_technical_activities_small_10_to_49', 'm_professional_scientific_and_technical_activities_10_to_19', 'm_professional_scientific_and_technical_activities_20_to_49', 'm_professional_scientific_and_technical_activities_mediumsized_50_to_249', 'm_professional_scientific_and_technical_activities_50_to_99', 'm_professional_scientific_and_technical_activities_100_to_249', 'm_professional_scientific_and_technical_activities_large_250plus', 'm_professional_scientific_and_technical_activities_250_to_499', 'm_professional_scientific_and_technical_activities_500_to_999', 'm_professional_scientific_and_technical_activities_1000plus', 'n_administrative_and_support_service_activities_total', 'n_administrative_and_support_service_activities_micro_0_to_9', 'n_administrative_and_support_service_activities_0_to_4', 'n_administrative_and_support_service_activities_5_to_9', 'n_administrative_and_support_service_activities_small_10_to_49', 'n_administrative_and_support_service_activities_10_to_19', 'n_administrative_and_support_service_activities_20_to_49', 'n_administrative_and_support_service_activities_mediumsized_50_to_249', 'n_administrative_and_support_service_activities_50_to_99', 'n_administrative_and_support_service_activities_100_to_249', 'n_administrative_and_support_service_activities_large_250plus', 'n_administrative_and_support_service_activities_250_to_499', 'n_administrative_and_support_service_activities_500_to_999', 'n_administrative_and_support_service_activities_1000plus', 'o_public_administration_and_defence;_compulsory_social_security_total', 'o_public_administration_and_defence;_compulsory_social_security_micro_0_to_9', 'o_public_administration_and_defence;_compulsory_social_security_0_to_4', 'o_public_administration_and_defence;_compulsory_social_security_5_to_9', 'o_public_administration_and_defence;_compulsory_social_security_small_10_to_49', 'o_public_administration_and_defence;_compulsory_social_security_10_to_19', 'o_public_administration_and_defence;_compulsory_social_security_20_to_49', 'o_public_administration_and_defence;_compulsory_social_security_mediumsized_50_to_249', 'o_public_administration_and_defence;_compulsory_social_security_50_to_99', 'o_public_administration_and_defence;_compulsory_social_security_100_to_249', 'o_public_administration_and_defence;_compulsory_social_security_large_250plus', 'o_public_administration_and_defence;_compulsory_social_security_250_to_499', 'o_public_administration_and_defence;_compulsory_social_security_500_to_999', 'o_public_administration_and_defence;_compulsory_social_security_1000plus', 'p_education_total', 'p_education_micro_0_to_9', 'p_education_0_to_4', 'p_education_5_to_9', 'p_education_small_10_to_49', 'p_education_10_to_19', 'p_education_20_to_49', 'p_education_mediumsized_50_to_249', 'p_education_50_to_99', 'p_education_100_to_249', 'p_education_large_250plus', 'p_education_250_to_499', 'p_education_500_to_999', 'p_education_1000plus', 'q_human_health_and_social_work_activities_total', 'q_human_health_and_social_work_activities_micro_0_to_9', 'q_human_health_and_social_work_activities_0_to_4', 'q_human_health_and_social_work_activities_5_to_9', 'q_human_health_and_social_work_activities_small_10_to_49', 'q_human_health_and_social_work_activities_10_to_19', 'q_human_health_and_social_work_activities_20_to_49', 'q_human_health_and_social_work_activities_mediumsized_50_to_249', 'q_human_health_and_social_work_activities_50_to_99', 'q_human_health_and_social_work_activities_100_to_249', 'q_human_health_and_social_work_activities_large_250plus', 'q_human_health_and_social_work_activities_250_to_499', 'q_human_health_and_social_work_activities_500_to_999', 'q_human_health_and_social_work_activities_1000plus', 'r_arts_entertainment_and_recreation_total', 'r_arts_entertainment_and_recreation_micro_0_to_9', 'r_arts_entertainment_and_recreation_0_to_4', 'r_arts_entertainment_and_recreation_5_to_9', 'r_arts_entertainment_and_recreation_small_10_to_49', 'r_arts_entertainment_and_recreation_10_to_19', 'r_arts_entertainment_and_recreation_20_to_49', 'r_arts_entertainment_and_recreation_mediumsized_50_to_249', 'r_arts_entertainment_and_recreation_50_to_99', 'r_arts_entertainment_and_recreation_100_to_249', 'r_arts_entertainment_and_recreation_large_250plus', 'r_arts_entertainment_and_recreation_250_to_499', 'r_arts_entertainment_and_recreation_500_to_999', 'r_arts_entertainment_and_recreation_1000plus', 's_other_service_activities_total', 's_other_service_activities_micro_0_to_9', 's_other_service_activities_0_to_4', 's_other_service_activities_5_to_9', 's_other_service_activities_small_10_to_49', 's_other_service_activities_10_to_19', 's_other_service_activities_20_to_49', 's_other_service_activities_mediumsized_50_to_249', 's_other_service_activities_50_to_99', 's_other_service_activities_100_to_249', 's_other_service_activities_large_250plus', 's_other_service_activities_250_to_499', 's_other_service_activities_500_to_999', 's_other_service_activities_1000plus', 'T : Activities of households as employers;undifferentiated goods-and services-producing activities of households for own use Total', 'T : Activities of households as employers;undifferentiated goods-and services-producing activities of households for own use Micro (0 to 9)', 'T : Activities of households as employers;undifferentiated goods-and services-producing activities of households for own use 0 to 4', 'T : Activities of households as employers;undifferentiated goods-and services-producing activities 

In [12]:
# Construct full dataset
final_dataset = pd.DataFrame
datasets = [aps, h_e, business_counts, business_register, fertility, population, jobs_density, disposable_income]
for dataset in datasets:    
    if final_dataset.empty:
        final_dataset = dataset
    else:
        final_dataset = pd.concat([final_dataset, dataset.iloc[1:]], ignore_index=True)

In [13]:
# reshaped = pd.pivot(final_dataset, index=['district', 'date'], columns='indicator', values='value')
# reshaped.fillna(0, inplace=True)
# reshaped.to_csv('rightspot_wide.csv')

In [14]:
test = pd.read_csv('rightspot_wide.csv')
test.head(15)

,district,date,01_crop_and_animal_production_hunting_and_related_service_activities_employees,01_crop_and_animal_production_hunting_and_related_service_activities_fulltime_employees,01_crop_and_animal_production_hunting_and_related_service_activities_parttime_employees,02_forestry_and_logging_employees,02_forestry_and_logging_fulltime_employees,02_forestry_and_logging_parttime_employees,03_fishing_and_aquaculture_employees,03_fishing_and_aquaculture_fulltime_employees,...,weekly_pay_gross_number_of_jobs,white_16_19,white_16_64,white_20_24,white_25_49,white_over_50,work_10_34_hours,work_35_44_hours,work_over_45_hours,work_under_10_hours
0,Aberdeen City,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,142000.0,90.4,92.7,93.6,90.4,98.6,25.4,49.3,21.5,3.8
1,Aberdeen City,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,141000.0,90.8,90.7,93.3,86.7,98.5,27.0,51.2,19.2,2.5
2,Aberdeen City,2015,100.0,50.0,40.0,15.0,15.0,0.0,25.0,25.0,...,149000.0,93.4,93.2,94.6,90.8,98.6,24.1,51.2,22.4,2.2
3,Aberdeen City,2016,100.0,50.0,40.0,15.0,15.0,5.0,25.0,20.0,...,149000.0,83.6,89.3,86.2,87.0,98.8,24.6,49.1,23.2,3.1
4,Aberdeen City,2017,125.0,100.0,45.0,15.0,15.0,5.0,30.0,25.0,...,141000.0,85.7,90.5,92.8,87.5,98.0,25.1,51.3,20.2,3.4
5,Aberdeen City,2018,100.0,100.0,40.0,20.0,15.0,5.0,25.0,15.0,...,142000.0,90.4,91.1,92.4,88.4,96.8,27.5,50.0,19.7,2.8
6,Aberdeen City,2019,150.0,100.0,40.0,25.0,15.0,5.0,50.0,35.0,...,140000.0,85.6,87.4,89.4,83.5,97.6,27.1,48.8,20.2,4.0
7,Aberdeen City,2020,125.0,75.0,40.0,20.0,15.0,5.0,50.0,40.0,...,119000.0,75.2,89.1,90.2,87.0,97.1,27.0,54.2,17.3,1.4
8,Aberdeen City,2021,125.0,75.0,40.0,40.0,35.0,5.0,40.0,40.0,...,134000.0,65.2,88.8,92.9,87.0,97.4,25.9,54.0,17.3,2.7
9,Aberdeen City,2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,138000.0,82.8,88.0,96.9,81.5,97.5,23.4,55.1,19.4,2.1
10,Aberdeenshire,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,75000.0,100.0,98.8,96.9,98.8,99.3,24.7,39.2,31.4,4.7
11,Aberdeenshire,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,79000.0,98.3,98.0,98.2,97.3,99.5,25.0,41.4,30.6,3.0
12,Aberdeenshire,2015,3500.0,1750.0,1500.0,350.0,300.0,50.0,800.0,700.0,...,77000.0,100.0,98.1,95.3,97.8,99.4,23.9,43.5,28.6,4.0
13,Aberdeenshire,2016,3500.0,1750.0,1500.0,350.0,250.0,50.0,1250.0,1000.0,...,80000.0,100.0,97.4,97.3,95.8,99.6,27.0,40.6,28.4,3.9
14,Aberdeenshire,2017,4000.0,1750.0,2000.0,250.0,225.0,50.0,1250.0,1000.0,...,78000.0,100.0,97.3,93.9,96.3,99.5,23.3,44.3,27.7,4.6

In [17]:
final_dataset.max()

date                        2022
district                    York
code                   W06000024
indicator    work_under_10_hours
value                  1142494.0
dtype: object